.edit-theme-highlight-section {
    .block-editor-block-list__layout {
        display: grid;
        grid-gap: 1rem;
    }

    &.grid-cols-1 .block-editor-block-list__layout {
        grid-template-columns: repeat(1, 1fr);
    }
    &.grid-cols-2 .block-editor-block-list__layout {
        grid-template-columns: repeat(2, 1fr);
    }
    &.grid-cols-3 .block-editor-block-list__layout {
        grid-template-columns: repeat(3, 1fr);
    }
    &.grid-cols-4 .block-editor-block-list__layout {
        grid-template-columns: repeat(4, 1fr);
    }

    .block-list-appender {
        z-index: 40;
        background: white;
    }
}